html, body {

}

#MainTable {
    text-align: left;
    width: 100%;
    padding: 1vw;
    vertical-align: top;
}

#NavSide {
    vertical-align: top;
    position: fixed;
}

#PageSide {
    vertical-align: top;
    width: 72vw;
    padding-left: 2%;
    padding-right: 2%;
}

h1 {
    font-size: 2vw;
}

h2 {
    font-size: 1.5vw;
}

.link {
    line-height: 50%;
}

weblink {
    font-family: monospace;
    font-style: italic;
    font-size: 0.65vw;
}
