.navBar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 20vw;
    background-color: gray;
    border-radius: 0.4875vw;
    box-shadow: 0 0.20833333333333334vw 0.4166666666666667vw 0 rgba(0, 0, 0, 0.2), 0 0.3125vw 1.0416666666666665vw 0 rgba(0, 0, 0, 0.19);
    line-height: 0.7vw;
}

.navBar a:hover, .navBar a:visited, .navBar a:link, .navBar a:active {
    text-decoration: none;
}

.navItem {
    text-align: center;
    /*display: inline-block;*/
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    /*padding-bottom: 3px;*/
    display: block;
    padding: 1.05vw 0;
    text-decoration: none;
    color: #ffffff;
}

.navItem:hover {
    color: rgb(255, 216, 109);
    background-color: rgb(140, 140, 140);
}

.navUp {
    border-top-left-radius: 0.4875vw;
    border-top-right-radius: 0.4875vw;
    /*border-bottom: solid #000000 1px;*/
}

.navDown {
    border-bottom-left-radius: 0.4875vw;
    border-bottom-right-radius: 0.4875vw;
}

/*.navCenter {
    border-bottom: #000000 solid 1px;
}*/

.borderOut {
    vertical-align: top;
    width: min-content;
    text-align: center;
    background-color: rgb(204, 204, 204);
    border-radius: 0.75vw;
    box-shadow: 0 0.20833333333333334vw 0.4166666666666667vw 0 rgba(0, 0, 0, 0.2), 0 0.3125vw 1.0416666666666665vw 0 rgba(0, 0, 0, 0.19);
    height: min-content;
    position: fixed;
}

.borderIn {
    text-align: left;
    width: min-content;
    padding: 0.75vw;
    vertical-align: top;
}

.navMenu {
    vertical-align: top;
    text-align: center;
    color: #000000;
    font-family: Verdana;
}

.navMenu img {
    box-shadow: 0 0.20833333333333334vw 0.4166666666666667vw 0 rgba(0, 0, 0, 0.2), 0 0.3125vw 1.0416666666666665vw 0 rgba(0, 0, 0, 0.19);
    width: 12vw;
}

.header1 {
    font-size: 1.3125vw;
}

.header2 {
    font-size: 0.9vw;
}